<!DOCTYPE html>
<html lang="en" ng-app="todoApp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular Todo app</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/base.css">
</head>
<body class="todoapp">
  <div ng-controller="TodoController as todos">
    <span>{{todos.remaining()}} of {{todos.list.length}} remaining</span>
    [<a href="" ng-click="todos.archive()">archive</a>]
    <!-- TODO: move to todo-list -->
    <ul>
      <li ng-repeat="todo in todos.list">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>
    <form ng-submit="todos.addTodo()">
      <input type="text" ng-model="todos.input" placeholder="add a new todo">
      <input type="submit" value="add">
    </form>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/todo-controller.js"></script>
</body>
</html>
